USE [master]
GO
/****** Object:  Database [testyazeva]    Script Date: 27.03.2024 18:33:22 ******/
CREATE DATABASE [testyazeva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testyazeva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\testyazeva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testyazeva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\testyazeva_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testyazeva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testyazeva]
GO
/****** Object:  Table [dbo].[словарь]    Script Date: 27.03.2024 18:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[словарь](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Понятие] [varchar](300) NULL,
	[Определение] [varchar](300) NULL,
	[Источник] [varchar](300) NULL,
 CONSTRAINT [PK_словарь] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
